<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Steel Vats an Industrial Category Bootstrap Responsive website Template | About :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Steel Vats Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet">   <!-- font-awesome icons --> 
<!-- //Custom Theme files -->  
<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Bigshot+One" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="w3ls-banner aboutw3ls-banner">
		<!-- header -->
		<div class="header">
			<div class="container"> 
				<div class="header-top"><!-- header-top -->
					<div class="agile-hdleft nav navbar-nav navbar-left">
						<ul>  
							<li><a href="mailto:example@mail.com"><i class="fa fa-envelope-o"></i>  mail@example.com</a></li>
							<li><i class="fa fa-phone"></i> +01 222 111 444 </li> 
						</ul> 
					</div>
					<div class="agile-hdmdl nav navbar-nav">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder="Enter your search term..." id="search" required="">
							<button type="submit" class="btn btn-default" aria-label="Left Align">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</form>
					</div>
					<div class="agileits-hdright nav navbar-nav navbar-right">
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
						</div> 
					</div>
					<div class="clearfix"> </div> 
				</div>	
				<div class="header-mdl agileits-logo"><!-- header-two --> 
					<h1><a href="index.html">Steel Vats</a></h1> 
				</div>
				<div class="header-nav"><!-- header-three --> 	
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button> 
						</div>
						<!-- top-nav -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html" class="active">About</a></li> 
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li> 
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="contact.html">Contact Us</a></li>
							</ul>  
							<div class="clearfix"> </div>	
						</div>
					</nav>  
				</div>	
			</div>	
		</div>	
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text about-w3banner-text">  
			<div class="container">
				<div class="banner-w3lstext">
					<h2>About</h2>
				</div> 	 
			</div>
		</div>
		<!-- //banner-text --> 
	</div>	
	<!-- //banner -->
	<!-- about -->
	<div class="about agileits">
		<div class="container"> 
			<h3 class="agileits-title">About Us</h3> 
			<div class="about-w3ls-agileinfo">
				<div class="col-md-4 about-left agileits-w3layouts">
					<div class="pic">
						<div class="stack twisted">	
							<img src="images/img2.jpg" alt=" " class="img-responsive">
						</div> 
					</div> 
				</div>
				<div class="col-md-8 about-right">
					<h5>Blanditiis praesentium deleniti atque corrupti quos </h5>  
					<p>Dignissimos at vero eos et accusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecat laborum et dolorum fuga.  </p>
					<!-- history -->
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"> 
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title asd">
									<a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Lorem ipsum dolor 
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
								<div class="panel-body panel_text">
									Sed lectus tellus sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title asd">
									<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Blanditiis praesentium
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
								<div class="panel-body panel_text">
									Feugiat porttitor nulla Sed lectus tellus sodales id elit a,  Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
							  <h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Sed porta magna
								</a>
							  </h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
								<div class="panel-body panel_text">
									Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing. Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. 
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingFour">
							  <h4 class="panel-title asd">
								<a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Nulla ornare purus 
								</a>
							  </h4>
							</div>
							<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
								<div class="panel-body panel_text">
									Sed lectus tellus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia. Morbi malesuada sollicitudin tortor, vitae pharetra nunc lacinia eget leo sodales adipiscing.
								</div>
							</div>
						</div>
					</div>
					<!-- //history --> 
				</div>
				<div class="clearfix"> </div> 
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- Stats -->
	<div class="stats about news-w3layouts"> 
		<div class="container">    
			<div class="stats-info agileits-w3layouts">
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img">
						<i class="fa fa-users" aria-hidden="true"></i>
					</div>
					<p>Happy Clients</p>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='157000' data-delay='.5' data-increment="100">157000</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-calendar-check-o" aria-hidden="true"></i>
					</div>
					<p>Our Events</p>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='850' data-delay='8' data-increment="1">850</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-briefcase" aria-hidden="true"></i>
					</div>	
					<p>Projects</p> 
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='80000' data-delay='.5' data-increment="100">80000</div>
				</div>
				<div class="col-sm-3 col-xs-6 stats-grid">
					<div class="stats-img w3-agileits">
						<i class="fa fa-trophy" aria-hidden="true"></i>
					</div>
					<p>Awards</p>
					<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='269' data-delay='8' data-increment="1">269</div>
				</div>
				<div class="clearfix"></div>
			</div> 
		</div>
	</div>
	<!-- //Stats -->   
	<!-- team -->
	<div class="team agileits">
		<div class="team-agileinfo">
			<div class="container"> 
				<h3 class="agileits-title">Our Team</h3> 
				<div class="team-row agileits-w3layouts">
					<div class="col-sm-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t1.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Edwards Doe</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div> 
								<div class="social-icon">
									<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
									<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>  
								</div>
							</div>
						</div>
					</div>					
					<div class="col-sm-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t2.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Mark Sophia</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="social-icon">
									<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
									<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>  
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t3.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Michael amet</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="social-icon">
									<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
									<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>  
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="images/t4.jpg" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Daniel Nyari</h4>
									<p>Aenean pulvinar ac enimet posuere tincidunt velit Utin tincidunt</p>
								</div>
								<div class="social-icon">
									<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
									<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
									<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>  
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->  
	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-agileinfo">
				<div class="col-md-3 col-sm-6 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Hendrerit quam</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Amet consectetur </a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Iquam hendrerit</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus </a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grid">
					<h3>Recent Posts</h3>
					<ul>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vestibulum felis</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Mauris at tellus</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vitae interdum</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grid footer-tags">
					<h3>Tag Cloud</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="codes.html">Codes</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grid footer-review">
					<h3>Review</h3>
					<p>Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque eget porttitor massa.</p> 
					<form action="#" method="post">
						<input type="search" name="Search" placeholder="Enter your search term..." required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</form> 
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
	<div class="copy-right"> 
		<div class="container">
			<p>© 2017 Steel Vats . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div> 
	</div> 
	<!-- //footer -->  
	<!-- js --> 
	<script src="js/jquery-2.2.3.min.js"></script> 
	<script src="js/SmoothScroll.min.js"></script>
	<!-- //js --> 
	<!-- Progressive-Effects-Animation-JavaScript -->  
	<script type="text/javascript" src="js/numscroller-1.0.js"></script>
	<!-- //Progressive-Effects-Animation-JavaScript --> 	
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>