<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Steel Vats an Industrial Category Bootstrap Responsive website Template | Contact :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Steel Vats Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="css/font-awesome.css" rel="stylesheet">   <!-- font-awesome icons --> 
<!-- //Custom Theme files -->  
<!-- web-fonts -->   
<link href="//fonts.googleapis.com/css?family=Bigshot+One" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<!-- //web-fonts -->
</head>
<body> 
	<!-- banner -->
	<div class="w3ls-banner aboutw3ls-banner">
		<!-- header -->
		<div class="header">
			<div class="container"> 
				<div class="header-top"><!-- header-top -->
					<div class="agile-hdleft nav navbar-nav navbar-left">
						<ul>  
							<li><a href="mailto:example@mail.com"><i class="fa fa-envelope-o"></i>  mail@example.com</a></li>
							<li><i class="fa fa-phone"></i> +01 222 111 444 </li> 
						</ul> 
					</div>
					<div class="agile-hdmdl nav navbar-nav">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder="Enter your search term..." id="search" required="">
							<button type="submit" class="btn btn-default" aria-label="Left Align">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</form>
					</div>
					<div class="agileits-hdright nav navbar-nav navbar-right">
						<div class="social-icon">
							<a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a> 
							<a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a> 
							<a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
						</div> 
					</div>
					<div class="clearfix"> </div> 
				</div>	
				<div class="header-mdl agileits-logo"><!-- header-two --> 
					<h1><a href="index.html">Steel Vats</a></h1> 
				</div>
				<div class="header-nav"><!-- header-three --> 	
					<nav class="navbar navbar-default">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button> 
						</div>
						<!-- top-nav -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav">
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li> 
								<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Web Icons</a></li>
										<li><a href="codes.html">Short Codes</a></li>
									</ul>
								</li> 
								<li><a href="gallery.html">Gallery</a></li>
								<li><a href="contact.html" class="active">Contact Us</a></li>
							</ul>  
							<div class="clearfix"> </div>	
						</div>
					</nav>  	
				</div>	
			</div>	
		</div>	
		<!-- //header --> 
		<!-- banner-text -->
		<div class="banner-text about-w3banner-text">  
			<div class="container">
				<div class="banner-w3lstext w3-agileits">
					<h2>Contact Us</h2>
				</div> 	 
			</div>
		</div>
		<!-- //banner-text --> 
	</div>	
	<!-- //banner -->
	<!-- contact -->
	<div class="contact agileits">
		<div class="container"> 
			<h3 class="agileits-title">Contact Us</h3>
			<div class="contact-agileinfo">
				<div class="col-md-7 contact-form wthree">
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="">
						<input class="email" type="email" name="Email" placeholder="Email" required="">
						<textarea placeholder="Message" name="Message" required=""></textarea>
						<input type="submit" value="SUBMIT">
					</form>
				</div>
				<div class="col-md-4 contact-right wthree">
					<div class="contact-text w3-agileits">
						<h4>GET IN TOUCH :</h4>
						<p><i class="fa fa-map-marker"></i> Broome St, NY 10002, Canada. </p>
						<p><i class="fa fa-phone"></i> Telephone : +00 111 222 3333</p>
						<p><i class="fa fa-fax"></i> FAX : +1 888 888 4444</p>
						<p><i class="fa fa-envelope-o"></i> Email : <a href="mailto:example@mail.com">mail@example.com</a></p> 
					</div> 
				</div> 
				<div class="clearfix"> </div>	
			</div>
		</div>
	</div>
	<!-- //contact -->  
	<!-- map -->
	<div class="map w3layouts">  
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555"></iframe>
	</div>
	<!-- //map --> 
	<!-- footer -->
	<div class="footer w3layouts">
		<div class="container">
			<div class="footer-agileinfo">
				<div class="col-md-3 col-sm-6 footer-grid">
					<h3>Useful Info</h3>
					<ul>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Hendrerit quam</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Amet consectetur </a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Iquam hendrerit</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus </a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grid">
					<h3>Recent Posts</h3>
					<ul>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vestibulum felis</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Mauris at tellus</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus</a></li>
						<li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vitae interdum</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grid footer-tags">
					<h3>Tag Cloud</h3>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="codes.html">Codes</a></li>
						<li><a href="gallery.html">Gallery</a></li>
						<li><a href="contact.html">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-6 footer-grid footer-review">
					<h3>Review</h3>
					<p>Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque eget porttitor massa.</p> 
					<form action="#" method="post">
						<input type="search" name="Search" placeholder="Enter your search term..." required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</form> 
				</div>
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
	<div class="copy-right"> 
		<div class="container">
			<p>© 2017 Steel Vats . All rights reserved | Design by <a href="http://w3layouts.com"> W3layouts.</a></p>
		</div> 
	</div> 
	<!-- //footer -->  
	<!-- js --> 
	<script src="js/jquery-2.2.3.min.js"></script> 
	<script src="js/SmoothScroll.min.js"></script> 
	<!-- //js --> 
	<!-- start-smooth-scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>	
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
	<!-- //end-smooth-scrolling -->	
	<!-- smooth-scrolling-of-move-up -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<!-- //smooth-scrolling-of-move-up --> 
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>