<!DOCTYPE html>
<html lang="FR-fr">
<head>
    <title>Cabinet Alab SARLU </title>
    <meta name="keywords" content=""/>
    {%include 'meta.html'%}
</head>


<body>


<div class="w3ls-banner">
    <div class="header">
        <div class="container">
            <div class="header-top"><!-- header-top -->
                <div class="agile-hdleft nav navbar-nav navbar-left">
                    <ul>
                        <li><a href="contact@alabadigital.com"><i class="fa fa-envelope-o"></i>contact@alabadigital.com</a>
                        </li>
                        <li><i class="fa fa-phone"></i>+228 </li>
                    </ul>
                </div>

                <div class="agile-hdmdl nav navbar-nav">
                    <form action="#" method="post">
                        <input type="search" name="Search" placeholder="Enter your search term..." id="search"
                               required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>

                <div class="agileits-hdright nav navbar-nav navbar-right">
                    <div class="social-icon">
                        <a href="#" class="social-button twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="social-button facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="social-button google"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="social-button dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-mdl agileits-logo"><!-- header-two -->
                <h1><a href="index.html">Cabinet-Alab-SARLU </a></h1>
            </div>
            <div class="header-nav"><!-- header-three -->
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- top-nav -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/" class="active"><b>Acceuil</b></a></li>
                            <li><a href=""><b>A Propos</b> </a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false"><b> Nos Servicves </b><span
                                    class="caret"></span></a>
                            </li>
                            <li><a href="gallery.html"><b> Gallery</b></a></li>
                            <li><a href="contact.html"><b> Contact </b></a></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- //header -->
    <!-- banner-text -->
    <div class="banner-text agileinfo">
        <div class="container">
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="banner-w3lstext">
                            <h2>Marketing digital</h2>
                            <p>Formation, Informatique, Infographie, Secrétariat bureautique, Logistique, Immobilier ,
                                Vérification des plans parcellaire des terrains Lotissement et morcellement des terrains
                                Assistance lors des achats et vente de terrains Assistance dans l'accomplissement des
                                formalités administratives Tampon Titre foncier</p>
                        </div>
                    </li>
                    <li>
                        <div class="banner-w3lstext">
                            <h3>Calendrier <br>Kabiyè et Ewe</h3>
                            <p>Conception et fabrication des calendriers en ewe, kabiye.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- welcome -->
<div class="welcome agileinfo">
    <div class="container">
        <div class="col-md-6 welcome-w3left">
            <h4>Comment nous <br> pouvons vous aider </h4>
            <b> Immobilier </b>
            </p>
            <ul>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Vérification des plans parcellaire des terrains.<br>
               <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Lotissement et morcellement des terrains.<br>
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Assistance lors des achats et vente de terrains.<br>
               <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Assistance dans l'accomplissement des formalités administratives, tampon, titre foncier.<br>
            </ul>
            <p>
                Lorsque l’on souhaite vendre son terrain dans sa totalité, ou une partie de sa propriété, la question de
                la superficie est primordiale. quelque soit l’acheteur, particulier ou promoteur, il va négocier le montant de l’achat à partir d’un
                prix au mètre carré, ou à l’hectare. Les facteurs qui jouent sur ce prix sont multiples : localisation, présence de commerces,
                de servitudes, qualité des sols, etc. Mais pour connaître la valeur exacte du terrain, il est impératif d’avoir une idée exacte de sa superficie. Et, donc, de ses limites.
                <br>
            <b style="color:#000000"> Mais comment connaître les limites exactes d’une parcelle ou d’un terrain ? Notre entreprise Cabinet
                Alab SARLU est la pour vous aidez </b>
            </p>
        </div>
        <div class="col-md-6 welcome-w3right">
            <img src="static/alabadigital/images/img1.jpg" alt=""/>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!--
<div class="services agileinfo">
    <div class="container">
        <h3 class="agileits-title">Services</h3>
        <div class="wthree-services-row">
            <div class="col-md-6 services-grid">
                <div class="col-xs-3 services-grid-left">
                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 services-grid-right">
                    <h4>Etiam pharetra</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus
                        reiciendis maiores.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 services-grid">
                <div class="col-xs-3 services-grid-left">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 services-grid-right">
                    <h4>Pharetra erat</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus
                        reiciendis maiores.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 services-grid services-grid-bottom">
                <div class="col-xs-3 services-grid-left">
                    <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 services-grid-right">
                    <h4>Nuncam erat</h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus
                        reiciendis maiores.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-6 services-grid services-grid-bottom">
                <div class="col-xs-3 services-grid-left">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span>
                </div>
                <div class="col-xs-9 services-grid-right">
                    <h4>Etiam nunc </h4>
                    <p>Itaque earum rerum hic tenetur a sapiente delectus
                        reiciendis maiores.</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>





<div class="features welcome">
    <div class="container">
        <div class="wthree-features-row">
            <div class="col-md-4 features-w3grid">
                <div class="col-xs-3 features-w3lleft">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 features-w3lright">
                    <p>Paid Amount</p>
                    <h4>$500,000+</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 features-w3grid">
                <div class="col-xs-3 features-w3lleft">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 features-w3lright">
                    <p>Companies</p>
                    <h4>8,500+</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-4 features-w3grid">
                <div class="col-xs-3 features-w3lleft">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col-xs-9 features-w3lright">
                    <p>Customers</p>
                    <h4>12,000+</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<div class="testi-w3layouts">
    <div class="flexslider flexslider1">
        <ul class="slides">
            <li>
                <div class="testi-img">
                    <div class="container">
                        <p class="w3ls-speech">Nam ultrices lacus vitae adipiscing aliquet, metus ipsum imperdiet
                            libero, vitae dignissim sapientristique Donec libero dui, scelerisque ac augue id,
                            ullamcorper elit,diam ac nibh convallis. </p>
                        <h4 class="agileits-rs">Ullam Firose sed</h4>
                        <h6>Donec libero duisint </h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="testi-img testi-img2">
                    <div class="container">
                        <p class="w3ls-speech">Vitae adipiscing aliquet namultrices lacus , metus ipsum imperdiet
                            libero, vitae dignissim sapientristique Donec libero dui, scelerisque ac augue id,
                            ullamcorper elit,diam ac nibh convallis. </p>
                        <h4 class="agileits-rs">Fugiat nulla sint </h4>
                        <h6>Donec libero duisint </h6>
                    </div>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>




<div class="footer w3-w3layouts">
    <div class="container">
        <div class="footer-agileinfo">
            <div class="col-md-3 col-sm-6 footer-grid">
                <h3>Useful Info</h3>
                <ul>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Hendrerit quam</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Amet consectetur </a>
                    </li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Iquam hendrerit</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus </a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-grid">
                <h3>Recent Posts</h3>
                <ul>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vestibulum felis</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Mauris at tellus</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Donec ut lectus</a></li>
                    <li><a href="single.html"><i class="glyphicon glyphicon-chevron-right"></i>Vitae interdum</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-grid footer-tags">
                <h3>Tag Cloud</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="codes.html">Codes</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 footer-grid footer-review">
                <h3>Review</h3>
                <p>Maecenas sodales tortor ac ligula ultrices dictum et quis urna. Etiam pulvinar metus neque eget
                    porttitor massa.</p>
                <form action="#" method="post">
                    <input type="search" name="Search" placeholder="Enter your search term..." required="">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
-->

<div class="copy-right">
    <div class="container">
        <p>© Alab Digital 2021</a></p>
    </div>
</div>
<!-- //footer -->
<!-- js -->
<script src="static/alabadigital/js/jquery-2.2.3.min.js"></script>
<!-- FlexSlider -->
<script defer src="static/alabadigital/js/jquery.flexslider.js"></script>
<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});



</script>
<!-- End-slider-script -->
<script src="static/alabadigital/js/SmoothScroll.min.js"></script>
<!-- start-smooth-scrolling -->
<script type="text/javascript" src="static/alabadigital/js/move-top.js"></script>
<script type="text/javascript" src="static/alabadigital/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
			
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});



</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});



</script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="static/alabadigital/js/bootstrap.js"></script>
</body>
</html>